 #root {
display: flex;flex-direction: column;
gap: 100px;align-items: center;
  margin: 0;
  
}
body{
  width: 1728px;
  /* max-width: 1728px;width: 100%; */
  display: block;place-items: unset;
  background-image: url(assets/plant.webp);
  /* background-position: center;
  background-size: cover; */
  background-repeat: no-repeat; background-size: 100% 2500px;
  background-color: #1b2216;
}
.logo img{
  width: 48px;height: 48px;
}
li{
  list-style: none;    display: flex;
    align-items: center;
}
.Navbar{
  box-sizing: border-box;padding: 57px;height: 100px;
  width: 100%;
}
.Navbar, .pages,.Trend,.Search,.cards,.buy,.best,.Intro,.footer,.foot,.HeroBanner,.customer{
  display: flex;justify-content: space-between;align-items: center;
}
.Intro h2{
  margin: 0px;font-size: 22px;
}
.Intro{
  justify-content: unset;gap: 30px;
}
.pages{font-weight: 400; font-family: "Indie Flower", cursive;
  width: 531px;font-size: 24px;height: 100px;}
.Search{
  width: 200px;
}
.Search svg{
  width: 26px;height: 26px;
}
.logo{
  font-size: 28px;font-weight: 900;    display: flex;
    align-items: center;
}

p{
  font-size: 20px;
}
h2,.customer h2{
  font-size: 38px;
}
.Trend{
  max-width:1619px;width: 95%;
  height:526px;justify-self: center;
  border: 2px solid #FFFFFF45;border-radius: 151px;
  padding: 70px;box-sizing: border-box;backdrop-filter: blur(40px); background-color: #FFFFFF0D;
}
.Trend img, .best img{
  width: 50%;top: -100px;position: relative;
}
.fact{
max-width: 750px;
}
  .section-title {
  font-size: 44px;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
}

/* LEFT CORNER */
.section-title::before,
.section-title::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 3px solid transparent;
}

/* LEFT SIDE GRADIENT BORDER */
.section-title::before {
  left: -15px;
  top: 1px;
  border-left-color: #b3b33c;
  border-top-color: #b3b33c;
}

/* RIGHT SIDE GRADIENT BORDER */
.section-title::after {
  right: -15px;
  top: 50px;
  border-right-color: #b3b33c;
  border-bottom-color: #b3b33c;
}

.best p{
  font-size: 28px;
}
.Intro img{
border-radius: 50% 50%;
}
.Intro svg{
  fill: #FBD300;
}
.review{
  width: 409px;height: 237px;font-size: 22px;
border: 1px solid #666666;background: rgba(255, 255, 255, 0.05);
backdrop-filter: blur(8.5px);border-radius: 45px;
padding: 30px;position: absolute;left: 43px;top: 705px;
}

.cards{
  width: 100%;padding: 50px;box-sizing: border-box;
}
.banner{
  width: 802px;height: 280px;
}
.banner p,.curve p,.content p{
  font-size: 23px;
}
.banner svg{
  width: 70px;height: 70px;
}
.buy{
  width: 50%;
}
.buy p{
font-size: 25px; font-family: "Indie Flower", cursive;
}
h1{
  font-size: 118px;margin: 0px;
}
.best{
  max-width: 1600px;height: fit-content;
  width: 95%;
  /* padding: 50px;box-sizing: border-box; */
  border: 3px solid #FFFFFF70;
  border-radius: 92px;background: rgba(255, 255, 255, 0.05);

}
.best div{
  width: 44%;
}
.footer{
  width: 100%;padding: 100px;box-sizing: border-box;
  padding-top: 0px;
}
.footer p,.customer p{ font-size: 24px;}
.input-wrapper {
  width: fit-content;
  height: 74px;border: 2px solid #FFFFFF;
  border-radius: 8px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color:transparent;
}
.input {
  max-width: 396px;
  height: 100%;
  border: none;
  padding-left: 15px;
  background-color: transparent;
  color: white;
  font-size: 24px;
}
.Subscribe-btn {
  height: 100%;
  width: 166px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  background-color: white;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links{
  width: 200px;font-size: 24px;
}
.links li{
  text-decoration: underline;
}
.links h2, .back h2{
  font-size: 28px;font-weight: 800;
}
.about{
  width: 539px;
}
.about p{
  font-size: 28px;
}
.about .logo{
  font-size: 45px;
}
.about .logo img{
  height: 94px;width: 94px;
}
.foot{
  width: 100%;padding: 85px;box-sizing: border-box;
  align-items: unset;padding-bottom: 0px;
}
h3{
  font-size: 28px;font-weight: 800;
}
.HeroBanner{
  width: 100%;padding: 39px;box-sizing: border-box;
  align-items: unset;
}

.exp{
     background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8.5px);
  border: 2px solid blue;width: 512px;height: 644px;
  clip-path: polygon(3.28% 11.76%, 3.19% 84.42%, 3.46% 86.59%, 4.19% 88.61%, 5.19% 90.26%, 5.37% 90.34%, 5.92% 91.16%, 6.19% 91.31%, 6.19% 91.46%, 6.65% 91.76%, 6.65% 91.91%, 8.20% 93.18%, 8.38% 93.18%, 8.65% 93.48%, 8.83% 93.48%, 10.29% 94.38%, 11.75% 94.98%, 13.57% 95.51%, 16.12% 95.88%, 83.79% 95.88%, 85.61% 95.66%, 88.16% 94.98%, 89.44% 94.46%, 89.98% 94.08%, 90.35% 94.01%, 91.17% 93.41%, 91.35% 93.41%, 91.71% 93.03%, 91.89% 93.03%, 93.26% 91.91%, 93.26% 91.76%, 93.62% 91.54%, 93.62% 91.39%, 93.90% 91.24%, 93.90% 91.09%, 94.17% 90.94%, 94.63% 90.19%, 94.81% 90.11%, 95.54% 88.91%, 96.17% 87.42%, 96.63% 85.39%, 96.63% 12.13%, 96.27% 10.34%, 96.08% 10.11%, 95.72% 8.91%, 94.90% 7.49%, 94.72% 7.42%, 94.63% 7.12%, 94.44% 7.04%, 94.35% 6.74%, 94.08% 6.59%, 93.90% 6.22%, 93.26% 5.69%, 93.26% 5.54%, 90.80% 3.67%, 90.62% 3.67%, 90.16% 3.30%, 89.80% 3.22%, 89.71% 3.07%, 87.98% 2.32%, 85.25% 1.57%, 82.24% 1.27%, 80.33% 1.35%, 76.23% 1.87%, 66.67% 2.77%, 60.29% 3.22%, 53.28% 3.52%, 46.72% 3.52%, 39.62% 3.22%, 28.96% 2.40%, 19.58% 1.35%, 16.21% 1.35%, 14.21% 1.65%, 13.93% 1.80%, 12.75% 2.02%, 11.93% 2.40%, 11.66% 2.40%, 10.75% 2.77%, 10.66% 2.92%, 10.11% 3.07%, 10.02% 3.22%, 9.29% 3.52%, 9.11% 3.75%, 8.93% 3.75%, 8.65% 4.04%, 8.47% 4.04%, 8.11% 4.42%, 7.92% 4.42%, 6.38% 5.77%, 6.38% 5.92%, 6.01% 6.14%, 6.01% 6.29%, 5.28% 7.04%, 5.19% 7.34%, 5.01% 7.42%, 3.83% 9.66%, 3.28% 11.76%)
}
 .sir{
  width: 512px;height: 644px;position: relative;
 }
 .content{
position: absolute;top: -8%;left: 20%;right: 10%;
 }

 /* Large laptops & desktops */
@media (max-width: 1440px) {

}

/* Phones */
@media (max-width: 430px) {
.pages{
  display: none;
}
.banner{
  width: 50%;
}
h1{
  font-size: 100px;
}
.body{
  width: 100%;
}
}

/* Small phones */
@media (max-width: 360px) {}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  border: 2px solid #FFFFFF;
  padding: 0.6em 1.2em;
  font-size: 28px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
    button {
    background-color: #f9f9f9;
  }
}
.customer{
  position: relative;
}
.comment{
  top: 20%;position: absolute;
    left: 40px;
    padding: 20px;
}
